<h1>Angular Router App</h1>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <ul>
    <li><a routerLink="/redux" routerLinkActive="active" ariaCurrentWhenActive="page">Contador con  redux</a></li>
    <li><a routerLink="/contador" routerLinkActive="active" ariaCurrentWhenActive="page">contador con @Input</a></li>
    <li><a routerLink="/tareas" routerLinkActive="active" ariaCurrentWhenActive="page">App de tareas</a></li>
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>